/* words.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #a6dcef; /* Light blue background color */
}

#word-container {
    text-align: center;
    font-size: 48px;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-weight: bold; /* Make the text bold */
    letter-spacing: 2px; /* Add spacing between letters for a bubbly effect */
    display: inline-block; /* Center the element horizontally */

    /* Add animation properties for the slot machine effect */
    animation-name: slotMachine;
    animation-duration: 2s; /* Duration of the animation */
    animation-timing-function: ease-in-out; /* Smooth acceleration and deceleration */
    animation-iteration-count: 1; /* Run the animation only once */
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Define the keyframes for the slot machine animation */
@keyframes slotMachine {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(50px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
