{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!-- Image of a polar bear holding a Coca-Cola -->
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frockhillcoke.com%2Fwp-content%2Fuploads%2F2020%2F11%2Fpolar-bears.jpg&f=1&nofb=1&ipt=a0ba58f55af6122972f1667280f384d26339ad1b86561b65d93924ac091ea420&ipo=images" alt="Polar Bear with Coca-Cola">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    <!-- Correctly link the CSS file using the static template tag -->
    <link rel="stylesheet" href="{% static 'css/words.css' %}">
</head>
<body>
    <div id="word-container">
        <!-- Display the random word -->
        {{ words_object.name }}
    </div>

    <button onclick="location.reload();">Word of the Day!</button>
</body>
</html>
